body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  max-width: 800px;
}

.movie-list-item {
  display: flex;
  align-items: center;
  margin-top: 16px;
  border: solid 1px pink;
  border-radius: 10px;
  cursor: pointer;
}

.movie-list-item:hover {
  background-color: antiquewhite;
}
